<h1>New Company profile</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.company_profile_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.company_profile_path(@conn, :index) %></span>
