<h1>Edit Inivitation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.inivitation_path(@conn, :update, @inivitation)) %>

<span><%= link "Back", to: Routes.inivitation_path(@conn, :index) %></span>
