<h1>Show Inivitation</h1>

<ul>

  <li>
    <strong>Invite token:</strong>
    <%= @inivitation.invite_token %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.inivitation_path(@conn, :edit, @inivitation) %></span> |
<span><%= link "Back", to: Routes.inivitation_path(@conn, :index) %></span>
