<h1>Show Company</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @company.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @company.url %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @company.description %>
  </li>

  <li>
    <strong>Established in:</strong>
    <%= @company.established_in %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.company_path(@conn, :edit, @company) %></span> |
<span><%= link "Back", to: Routes.company_path(@conn, :index) %></span>
